<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda cliente</title>
</head>
<body>
    <form action =  '/appDego/buscar' method="GET"> 
        Cliente : <input type = 'text' name = 'apellido' >
        <input type = 'submit' value = 'buscar'> 

    {% if cliente %}
        <p> CLIENTE ENCONTRADO:  {{apellido}} {{cliente.nombre}} </p>
        <p> CUIT: {{cliente.cuit}} </p>
        <p> EMAIL: {{cliente.email}} </p>
        <p> TELEFONO: {{cliente.telefono}} </p>
    {% endif %}


</body>
</html>